<% include head %>
<p>
    <form class="form-signin" action="/auth/openid" method="post">
        <h2 class="form-signin-heading">Your account is not allowed to log in</h2>
    </form>
</p>
<% include foot %>