<!DOCTYPE html>
<html>
  <head>
    <title>National University of Stalkers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/theme.bootstrap.css" rel="stylesheet">
    <link href="/css/theme.bootstrap_2.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        
    <!-- Le javascript
    ================================================== -->
    <script src="/js/underscore-min.js"></script>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.highlight.js"></script>
    <script src="/js/jquery.tablesorter.min.js"></script>
    <script src="/js/jquery.tablesorter.pager.js"></script>
	<script src="/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="/js/parsers/parser-file-type.js"></script>
	<script src="/js/widgets/widget-grouping.js"></script>
    <script src="/js/typeahead.bundle.js"></script>
    <script src="/js/jquery.flot.js"></script>
    <script src="/js/jquery.flot.categories.js"></script>
    <script src="/js/jquery.flot.stack.js"></script>
    <script src="/js/jquery.flot.axislabels.js"></script>
  </head>

  <body>
    <div class="container">