<% include head %>
<p>
    <form class="form-signin" action="/auth/openid" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
</p>
<% include foot %>