<% include head %>
<div class="text-center" style="margin-top:50px">
    <img src="img/logo.png">
    <form action="/search" method="get">
        <div class="form-group">
            <div class="input-group col-sm-8 col-sm-offset-2">
                <input id="typeahead" type="text" class="form-control" name="q" placeholder="Name to search for">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Search">
                </span>
            </div>
        </div>
    </form>
    <p class="muted">"I solemnly swear I am up to no good."</p>
</div>
<script>
$(function(){
    $('#typeahead').typeahead({                                
        name: 'names',                                                          
        remote: '/suggest?q=%QUERY',                                         
        limit: 10                                                                   
    })
    .on('typeahead:opened',function(){$('.tt-dropdown-menu').css('width',$('#typeahead').outerWidth() + 'px');})
    .bind('typeahead:selected', function(obj, datum, name) {
        $('form').submit();
    });
});
</script>
<% include foot %>